<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"
        rel="stylesheet" media="screen"/>

  <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>

  <link href="../../../css/library.css"
        th:href="@{/css/library.css}" rel="stylesheet" media="screen"/>

</head>
<body>

</body>
</html>